{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% include "mail/components/header.html" %}        
        <div id="app" class="d-flex">
            <!-- Navbar -->
            {% include "mail/components/navbar.html" %}
            <!-- Container -->
            <div class="content">
                <!-- Toolbar -->
                <div class="toolbar">
                    <div class="menu">
                        <div id="mailbox-name"></div>
 
                        <div id="mailbox-info">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="unread-only-filter">
                                <label class="form-check-label" for="unread-only-filter">
                                    Unread only
                                </label>
                            </div>
                            <div id="mailbox-size"></div>
                            <div class="action-list">
                                <ul>
                                    <li class="pr" id="prev-page" title="" data-toggle="tooltip" tabindex="0" data-original-title="Newer"></li>
                                    <li class="nx" id="next-page" title="" data-toggle="tooltip" tabindex="0" data-original-title="Older"></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- View container -->
                <div id="main-view">
                    {% block body %}
                    {% endblock %}
                    <footer></footer>
                </div>
            </div>
        </div>
        <!-- Toast container -->
        <div aria-live="polite" aria-atomic="true">
            <div id="toast-container" style="position: fixed; bottom: 1rem; left: 1rem;"><!-- Toasts go here --></div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>