{% extends "mail/auth/auth_layout.html" %}

{% block title %} Registration {% endblock %}

{% block body %}

    <h2>Register</h2>

    <div class="error">
        {% if message %}
            {{ message }}
        {% endif %}
    </div>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email"><i class="fas fa-at"></i></span>
            </div>
            <input autofocus class="form-control" type="email" name="email" placeholder="Email" aria-describedby="email">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
            </div>
            <input class="form-control" type="password" name="password" placeholder="Password" aria-describedby="password">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="confirmation">
                    <i class="fas fa-key fa-flip-horizontal"></i>
                </span>
            </div>
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" aria-describedby="confirmation">
          </div>

        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p class="mt-5">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}